/* CSS Document */

#form {
}

#form table {
	width: 400px;
	margin: auto;
	margin-top:20px;
}

#form table th {
	font-size: 14px;
	font-weight: normal;
	width: 150px;
	height: 40px;
}

#form table .red {
	color: red;
	font-size:12px;
}

#form table td {
	width: 250px;
	font-size: 14px;
	height: 40px;
}

#form table .text {
	width: 200px;
	height: 30px;
	font-size: 14px;
	position: relative;
	top: 5px;
}

